extends layout

block content
    img(src="images/NotTheDroids.png")
    h1 These are not the droids you're looking for
    p This is an internal service page. You probably landed on this page by mistake! 
    p Take a look #[a(href=targetUrl) att the application] instead
